@charset "utf-8";

/* FONT */
@font-face{
   font-family:'Spoqa';font-weight:normal;font-style:normal;
   src:local(※),
       url('https://image.shinhan.com/rib2017/comfont/SpoqaHanSans-Regular.woff') format('woff'),
       url('https://image.shinhan.com/rib2017/comfont/SpoqaHanSans-Regular.svg#SpoqaHanSans-Regular') format('svg');
}

/* INITIALIZE */
html,body,h1,h2,h3,h4,h5,h6,div,span,p,a,strong,em,img,dl,dt,dd,ol,ul,li,form,fieldset,input,textarea,select,label,table,tbody,tfoot,thead,tr,th,td,iframe,button,pre{margin:0;padding:0;-webkit-tap-highlight-color:transparent;background:transparent;}
html,body{width:100%;height:100%;}
html{overflow-y:scroll;-webkit-text-size-adjust:96%;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
ul,ol{list-style:none}
em,address{font-style:normal}
img,fieldset,iframe,hr{border:none}
img,input,select,label,a{vertical-align:middle}
label{display:inline-block}
input::-ms-clear,
input::-ms-reveal{display:none}
textarea{overflow:auto;resize:none}
table{width:100%;border-collapse:collapse;border-spacing:0;empty-cells:show;table-layout:fixed;text-align:center;word-wrap:break-word}

body,a,input,textarea,select,button,pre, .w2textarea, .calcPop .header textarea{font:14px/1.25 'Spoqa',Verdana,'돋움',Dotum,Apple sd gothic neo,Apple Gothic,Sans-serif;letter-spacing:-0.02em}
@media \0screen{
	body{font-size:80%;}
	body,a,input,textarea,select,button,pre, .w2textarea, .calcPop .header textarea{letter-spacing:-0.13em}
	select{font-family:'돋움',Dotum,Sans-serif;}
	body.EN,.EN a,.EN input,.EN textarea,.EN select,.EN button,.EN pre,.EN .w2textarea,.EN .calcPop .header textarea{letter-spacing:-0.05em}
}
body,button,pre{color:#666;}
input,textarea,select,a{color:#343434;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
.w2textarea_placeholder{color:#888;}
::-webkit-input-placeholder{text-align:left;}
::-moz-placeholder{text-align:left;}
:-moz-placeholder{text-align:left;}
:-ms-input-placeholder{text-align:left;}

/* LINK */
a,a:hover{text-decoration:none}
a:active{text-decoration:underline !important}

/* HIDDEN */
caption{overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;text-indent:-5000em;line-height:0}
.blind,hr,legend,input[type="hidden"]{position:absolute;left:-5000em;top:-5000em;font-size:1px;line-height:1px}
.ir{display:inline-block;overflow:hidden;text-indent:-5000em}

/* FORM */
input,textarea,select{width:100%;box-sizing:border-box}
input[type="text"],input[type="password"],textarea,.w2textarea,.w2upload .w2upload_input,.w2inputCalendar_divInput{border:1px solid #c2c2c2;background-color:#fff;-webkit-appearance:none;-webkit-border-radius:0}
input[type="text"],input[type="password"],.w2upload .w2upload_input{height:30px;padding:5px 5px 3px;line-height:16px}
input[type="button"],input[type="image"],input[type="file"],input[type="submit"]{cursor:pointer}
input[type="button"]{position:relative;border:none}
input[type="button"]::-moz-focus-inner{margin:-1px;padding:0}
input[readonly],textarea[readonly]{background-color:#f3f4f8;color:#343434;}
input[disabled],textarea[disabled],select[disabled]{background-color:#eee;color:#888;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{border:1px solid #3579d4}
input[disabled]:focus,input[readonly]:focus,textarea[disabled]:focus,textarea[readonly]:focus{border:1px solid #c2c2c2 !important;}
/* ie9- */
input[type="text"], input[type="password"]{height:30px;padding:0 5px;}
/* ie10+ */
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){
	input[type="text"], input[type="password"]{padding:5px 5px 3px;}
}
/* webkit,opera */
@media all and (-webkit-min-device-pixel-ratio:0){
	input[type="text"], input[type="password"]{padding:5px 5px 3px;}
}
/* firefox */
@media screen and (min--moz-device-pixel-ratio:0){
	input[type="text"], input[type="password"]{padding:5px 5px 3px;}
}
_:-ms-lang(x), input[type="text"], input[type="password"]{box-sizing:border-box;height:30px;padding:5px 5px 3px;}/*ie Edge*/

input[type="radio"],
input[type="checkbox"]{position:absolute;z-index:2;width:15px;height:15px;filter:alpha(opacity=0);opacity:0;}
input[type="radio"] + label,
input[type="checkbox"] + label{display:inline-block;position:relative;padding-left:21px;line-height:16px;}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before{content:"";position:absolute;left:0;top:0;width:15px;height:15px;}
input[type="radio"]:focus + label:before,
input[type="checkbox"]:focus + label:before{outline:1px dotted;}
input[type="radio"] + label:before{background:url(https://image.shinhan.com/rib2017/images/bg/bg_input_radio.png) no-repeat 0 0;}
input[type="radio"]:hover + label:before{background-position:0 -20px;}
input[type="radio"]:checked + label:before{background-position:0 -40px;}
input[type="radio"]:disabled + label:before{background-position:0 -60px;}
input[type="radio"]:checked:disabled + label:before{background-position:0 -80px;}
input[type="checkbox"] + label:before{background:url(https://image.shinhan.com/rib2017/images/bg/bg_input_checkbox.png) no-repeat 0 0;}
input[type="checkbox"]:hover + label:before{background-position:0 -20px;}
input[type="checkbox"]:checked + label:before{background-position:0 -40px;}
input[type="checkbox"]:disabled + label:before{background-position:0 -60px;}
input[type="checkbox"]:checked:disabled + label:before{background-position:0 -80px;}
@media \0screen{
	input[type="radio"],
	input[type="checkbox"]{position:static;width:15px !important;height:15px !important;filter:alpha(opacity=100);}
	input[type="radio"] + label,
	input[type="checkbox"] + label{padding-left:5px;}
	input[disabled][type="radio"],
	input[disabled][type="checkbox"],
	input[type="radio"] + label:before,
	input[type="checkbox"] + label:before{background:none;}
}

.w2radio.solo label,
.w2checkbox.solo label{overflow:hidden;width:0;min-height:15px;padding-left:15px;font-size:0;line-height:0;text-indent:-5000em;}
.w2radio_input + .w2radio_label,
.w2checkbox_input + .w2checkbox_label{padding-top:1px;}
.w2radio_input:checked + .w2radio_label{color:#424d89;}
.w2radio_input[disabled] + .w2radio_label,
.w2checkbox_input[disabled] + .w2checkbox_label{color:#343434;cursor:default;}
textarea.w2textarea{padding:10px;line-height:1.4}

.w2grid input[type="radio"]+label,
.w2grid input[type="checkbox"]+label{width:15px;height:15px;margin:0;padding-left:0;font-size:0;line-height:0;text-align:left;text-indent:-9999px;white-space:nowrap;}
@media \0screen{
	.w2grid input[type="radio"]+label,
	.w2grid input[type="checkbox"]+label{width:0;height:0;}
}
.w2grid input[type="radio"]+label *,
.w2grid input[type="checkbox"]+label *{position:absolute;left:-5000em;top:-5000em;font-size:1px;line-height:1px;}

/* SELECT */
select::-ms-expand{display:none;} /* IE10이상 */
.w2selectbox_native{border:none;}
/* ie9- */
.w2calendar .w2calendar_header select.w2calendar_selectbox_year_native,
.w2calendar .w2calendar_header select.w2calendar_selectbox_month_native,
select, .w2selectbox_native_select{height:30px;padding:3px;border:1px solid #c2c2c2;background-color:#fff;}
select:disabled, .w2selectbox_native_select:disabled{background-color:#eee !important;color:#888 !important;}
/* ie10+ */
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){
	.w2calendar .w2calendar_header select.w2calendar_selectbox_year_native,
	.w2calendar .w2calendar_header select.w2calendar_selectbox_month_native,
	select, .w2selectbox_native_select{padding:3px 30px 3px 3px;background:#fff url(https://image.shinhan.com/rib2017/images/bg/bg_select.png) no-repeat right 0;appearance:none;}
	select:disabled, .w2selectbox_native_select:disabled{background-position:right -28px;background-color:#eee !important;color:#888 !important;}
}
/* webkit,opera */
@media all and (-webkit-min-device-pixel-ratio:0){
	.w2calendar .w2calendar_header select.w2calendar_selectbox_year_native,
	.w2calendar .w2calendar_header select.w2calendar_selectbox_month_native,
	select, .w2selectbox_native_select{padding:3px 30px 3px 3px;background:#fff url(https://image.shinhan.com/rib2017/images/bg/bg_select.png) no-repeat right 0;-webkit-appearance:none;}
	select:disabled, .w2selectbox_native_select:disabled{background-position:right -28px;background-color:#eee !important;color:#888 !important;}
}
/* firefox */
@media screen and (min--moz-device-pixel-ratio:0){
	.w2calendar .w2calendar_header select.w2calendar_selectbox_year_native,
	.w2calendar .w2calendar_header select.w2calendar_selectbox_month_native,
	select, .w2selectbox_native_select{padding:3px 30px 3px 3px;background:#fff url(https://image.shinhan.com/rib2017/images/bg/bg_select.png) no-repeat right 0;-moz-appearance:none;}
	select:disabled, .w2selectbox_native_select:disabled{background-position:right -28px;background-color:#eee !important;color:#888 !important;}
}

/* BUTTON */
button{position:relative;border:none;background:none;cursor:pointer}
button::-moz-focus-inner{padding:0;border:none}

/* WEBSQUARE */
.w2group, .w2tb, .w2tb .w2tb_th{background-color:transparent}
.w2anchor a, .w2anchor2{color:#666}
.w2tb .w2tb_th, .w2tb .w2tb_td{border:none}
.w2tb .w2tb_th{font-weight:normal}
.w2tb .w2tb_td{padding:15px 3px;}
.w2input,
.w2grid .w2grid_embedded_input{font-size:14px;font-family:'Spoqa','돋움',Dotum,Verdana,Apple sd gothic neo,Apple Gothic,Sans-serif;}
.w2grid .w2grid_embedded_input{padding:5px 5px 3px;}
.w2grid .gridHeaderTableDefault .w2grid_head_sort_div_main nobr{display:inline-block}
.w2radio_input{margin:0}
.w2checkbox .w2checkbox_item,
.w2radio .w2radio_item{min-width:16px;min-height:16px}
.w2checkbox .w2checkbox_item + .w2checkbox_item,
.w2radio .w2radio_item + .w2radio_item{position:relative;margin-left:20px}
.w2grid{height:100px;}
.w2grid .gridBodyDefault button{color:#343434}
.w2grid nobr{padding:0;}
.w2checkbox .w2checkbox_label,
.w2radio .w2radio_label{font-size:14px;color:#343434;}
.w2Switch{overflow:inherit;}
div[id*="gridend_div"]{position:absolute;left:0;bottom:0;}

/* UPLOAD */
.w2upload .w2upload_image{top:0;width:77px;height:30px;margin-left:0;background:url(https://image.shinhan.com/rib2017/images/btn/btn_upload.png) no-repeat 0 0;}
.grp_fileUpload{padding-right:89px;overflow:hidden;}
.grp_fileUpload input{width:100%;float:left;}
.btnFileUpload{position:absolute;right:0;}
.btnFileUpload input[type="file"],
.btnFileUpload label{position:relative;z-index:2;width:77px;height:30px;border:1px solid #ccc;border-bottom-color:#999;border-radius:2px;background-color:#fff;font-size:13px;line-height:30px;color:#343434;text-align:center;cursor:pointer;box-sizing:border-box;}
.btnFileUpload input[type="file"]{position:absolute;top:0;}
.btnFileUpload input[type="file"]:focus{outline:1px dotted;}

.fileUploadWrap .w2upload .w2upload_input_type,
.fileUploadWrap label{position:relative;z-index:2;width:77px;height:30px;margin-left:12px;border:1px solid #ccc;border-bottom-color:#999;border-radius:2px;background-color:#fff;font-size:13px;line-height:30px;color:#343434;text-align:center;cursor:pointer;box-sizing:border-box;}
.fileUploadWrap .w2upload .w2upload_input_type{position:absolute;}
.fileUploadWrap .w2upload .w2upload_input_type:focus{outline:1px dotted;}
.fileUploadWrap label + a[class*="btnTy"].medium{margin-left:10px;}
.fileUpload{height:30px;}
.filetxt{margin-top:10px;}
span + .fileUploadWrap{display:inline-block;margin-left:10px;}

/* CHECKBOX */
.w2checkbox_item *{vertical-align:middle}
.w2checkbox_item{display:inline-block}
.w2checkbox_item label{padding-left:6px}

/* RADIO */
.w2radio_item *{vertical-align:middle}
.w2radio_item{display:inline-block}
.w2radio_item label{padding-left:6px}

/* LAYER */
.w2modal{z-index:6000;background-color:#000;filter:alpha(opacity=60);opacity:0.6;}
.w2modal_popupLayer{z-index:9999;}
.w2drag_activate .w2popup_window .w2modal{opacity:0 !important} /* w2modal 중복제거 */

/* CALENDAR */
.w2inputCalendar_div{display:inline-block;width:auto}
.w2inputCalendar_div_input{width:auto !important;height:auto !important;}
.w2inputCalendar_divInput{width:100px !important;height:30px !important;padding:0 5px !important;border-color:#c2c2c2;font-size:13px;font-family:'Spoqa','돋움',Dotum,Verdana,Apple sd gothic neo,Apple Gothic,Sans-serif;vertical-align:top}
.w2inputCalendar_divInput:focus{border:1px solid #3579d4}
.w2inputCalendar_div_img{display:inline-block;width:auto;height:30px;}
.w2inputCalendar_button{display:inline-block;overflow:hidden;top:2px !important;width:25px;height:25px;box-shadow:0 1px 2px #ccc;background:url(https://image.shinhan.com/rib2017/images/btn/sp_btn.png) no-repeat -10px -10px !important;text-indent:-5000em;vertical-align:top;}
.w2inputCalendar_button.w2inputCalendar_img_readOnly{cursor:default;}

.w2calendar{z-index:900;width:302px;height:308px;border:1px solid #aaa;border-radius:2px;}
.w2calendar .w2calendar_wrap{position:relative;}
.w2calendar .w2calendar_header{height:60px;padding:15px 49px 15px 70px;box-sizing:border-box;}
.w2calendar .w2calendar_header .w2calendar_selectbox_year_native,
.w2calendar .w2calendar_header .w2calendar_selectbox_month_native{position:static;height:30px;margin:0;padding:0 30px 0 7px;}
.w2calendar .w2calendar_header .w2calendar_selectbox_year_native{width:99px;}
.w2calendar .w2calendar_header .w2calendar_selectbox_month_native{width:79px;margin-left:5px;}
.w2calendar .w2calendar_header select{padding:0;border:1px solid #c2c2c2;background:url(https://image.shinhan.com/rib2017/images/bg/bg_select.png) no-repeat right 0;font-size:14px;font-family:'Spoqa','돋움',Dotum,Verdana,Apple sd gothic neo,Apple Gothic,Sans-serif;text-indent:3px;appearace:none;-webkit-appearance:none;-moz-appearance:none}
.w2calendar .w2calendar_header select:disabled{background-position:right -28px;background-color:#eee}
.w2calendar .w2calendar_header_last_year,
.w2calendar .w2calendar_header_last_month,
.w2calendar .w2calendar_header_next_year,
.w2calendar .w2calendar_header_next_month{display:none;}
.w2calendar .w2calendar_content{padding:0 9px;border-top:1px solid #dcdcdc;border-bottom:none;background:none;}
.w2calendar .w2calendar_content .w2calendar_col_day{position:relative;padding:12px 0 13px;background:none;font-size:14px;font-family:'Spoqa','돋움',Dotum,Verdana,Apple sd gothic neo,Apple Gothic,Sans-serif;color:#343434;/*text-indent:0;*/}
.w2calendar .w2calendar_content .w2calendar_col_day:before{position:absolute;left:0;top:15px;right:0;font-weight:normal;text-indent:0;}
.w2calendar .w2calendar_content .w2calendar_col_day.w2calendar_day0:before{content:"일";color:#ed341b;}
.w2calendar .w2calendar_content .w2calendar_col_day.w2calendar_day1:before{content:"월";}
.w2calendar .w2calendar_content .w2calendar_col_day.w2calendar_day2:before{content:"화";}
.w2calendar .w2calendar_content .w2calendar_col_day.w2calendar_day3:before{content:"수";}
.w2calendar .w2calendar_content .w2calendar_col_day.w2calendar_day4:before{content:"목";}
.w2calendar .w2calendar_content .w2calendar_col_day.w2calendar_day5:before{content:"금";}
.w2calendar .w2calendar_content .w2calendar_col_day.w2calendar_day6:before{content:"토";color:#3579d4;}
.w2calendar .w2calendar_content .w2calendar_col_date{height:32px !important;background:none;font-size:14px;}
.w2calendar .w2calendar_content .w2calendar_col_date button{width:32px;height:32px;background:none;font-size:14px;font-family:'Spoqa','돋움',Dotum,Verdana,Apple sd gothic neo,Apple Gothic,Sans-serif;font-weight:normal;color:#343434;}
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_selected,
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_selected button{color:#343434;}
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_selected button{background-color:#e8ebef;}
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_day_0,
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_day_0 button{color:#ed341b;}
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_day_6,
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_day_6 button{color:#3579d4;}
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_date_over,
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_date_over button{color:#fff;}
.w2calendar .w2calendar_content .w2calendar_col_date.w2calendar_date_over button{background-color:#3579d4;}
.w2calendar .w2calendar_content .w2calendar_date_off{color:#888;}
.w2calendar .w2calendar_footer .w2calendar_go_today{position:absolute;left:12px;top:14px;float:none;width:50px;height:30px;border:1px solid #ccc;border-radius:2px;background:none;font-size:13px;line-height:30px;color:#343434;text-align:center;text-indent:0;}
.w2calendar .w2calendar_footer .w2calendar_date_cancel_div{position:absolute;right:15px;top:23px;float:none;width:14px;height:14px;margin:0;background:url(https://image.shinhan.com/rib2017/images/btn/sp_btn.png) no-repeat -22px -60px;}
.w2calendar .w2calendar_footer .w2calendar_footer_date_div{display:none;}
.w2calendar .w2calendar_blank{display:none;}

/* LAYOUT */
#wrap{max-height:100%;min-width:1024px;}
#wrap,#header,#path{position:relative;}
#wrap .wrapInner,
#contents{width:980px;margin:0 auto;}

.hidePath #screenWrap, .hidePath #userWrap, .hidePath #path{display:none;}
.hideLocation #screenWrap, .hideLocation .location{display:none;}
.hidePath #contents{padding-top:109px;}

/* SLIDE BANNER */
.mTopLayerWrap{display:none;position:absolute;left:0;top:-185px;z-index:1000;width:100%;background-color:#4d6072;}
.mTopLayerWrap.on{display:block;}
.mTopLayerWrap .mTopLayer{position:relative;width:980px;margin:0 auto;height:185px;}
.mTopLayerWrap .mTopCon ul{display:table;width:100%;padding-top:30px;}
.mTopLayerWrap .mTopCon li,
.mTopLayerWrap .mTopCon li a{color:#fff;}
.mTopLayerWrap .mTopCon li{display:table-cell;border-left:1px solid #3d4e5f;vertical-align:top;}
.mTopLayerWrap .mTopCon.col3 li{width:33.33333333333333%;}
.mTopLayerWrap .mTopCon.col2 li{width:50%;}
.mTopLayerWrap .mTopCon.col1 li{width:100%;}
.mTopLayerWrap .mTopCon li > div,
.mTopLayerWrap .mTopCon li > a{display:table;width:100%;height:115px;padding-left:31px;padding-right:20px;border-left:1px solid #607283;box-sizing:border-box;}
.mTopLayerWrap .mTopCon li.last > div,
.mTopLayerWrap .mTopCon li.last > a{padding-right:0;}
.mTopLayerWrap .mTopCon li:first-child,
.mTopLayerWrap .mTopCon li:first-child > div,
.mTopLayerWrap .mTopCon li:first-child > a{padding-left:0;border-left:none;}
.mTopLayerWrap .mTopCon li strong{display:block;font-weight:normal;}
.mTopLayerWrap .mTopCon.col3 li strong{height:39px;font-size:22px;}
.mTopLayerWrap .mTopCon.col2 li strong{height:44px;font-size:26px;}
.mTopLayerWrap .mTopCon.col1 li strong{height:44px;font-size:26px;}
.mTopLayerWrap .mTopCon li strong img{vertical-align:top;}
.mTopLayerWrap .mTopCon li em{color:#ffcc00;}
.mTopLayerWrap .mTopCon li .con,
.mTopLayerWrap .mTopCon li .img{display:table-cell;vertical-align:top;}
.mTopLayerWrap .mTopCon li .con .txt{overflow:hidden;/*text-align:justify;*/padding-right:15px;}
.mTopLayerWrap .mTopCon li .con .txt .ico{overflow:hidden;float:left;width:53px;height:42px;margin-right:10px;text-align:center;}
.mTopLayerWrap .mTopCon li .con .txt p{overflow:hidden;line-height:22px;}
.mTopLayerWrap .mTopCon li .con .txt + img,
.mTopLayerWrap .mTopCon li .con .txt p + img{margin-top:20px;}
.mTopLayerWrap .mTopCon li .img img{width:300px;height:118px;}
.mTopLayerWrap .mTopCon.col1 li .ico{float:right;}
.mTopLayerWrap .btnTopLayer{position:absolute;right:0;bottom:11px;color:#fff;}
.mTopLayerWrap .btnTopLayer label{margin-right:10px;font-size:13px;color:#fff;}
.mTopLayerWrap .btnTopLayer .btnTopLayerClose{float:right;overflow:hidden;width:14px;height:14px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -414px -95px;text-indent:-5000em;}

/* SKIP */
#skipNavi{position:relative;z-index:5000}
#skipNavi a{position:fixed;left:0;top:-100px;width:100%;background-color:#000;text-align:center;filter:alpha(opacity=90);opacity:0.9}
#skipNavi a:focus,
#skipNavi a:active{top:0}
#skipNavi a{font-size:11px;line-height:24px;color:#fff}

/* HEADER */
#header{position:fixed;left:0;top:0;z-index:800;width:100%;height:109px;background-color:#2d71c4;}
#header .wrapInner{position:relative;}
#header .wrapInner:after{content:"";display:block;clear:both;}
#header h1{position:absolute;left:0;top:-2px;}
#header h1 a{width:109px;height:25px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -10px -40px;vertical-align:top;}
#header .wrapInner > strong{display:none;}
.main #header.on .wrapInner > strong,
.pensionmain #header.on .wrapInner > strong{display:block;float:left;position:relative;padding-right:16px;font-size:18px;line-height:50px;color:#fff;}
.main #header.on .wrapInner > strong:before,
.pensionmain #header.on .wrapInner > strong:before{content:"";display:inline-block;overflow:hidden;width:25px;height:25px;margin:-4px 10px 0 0;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -10px -40px;vertical-align:middle;}
.main #header.on .wrapInner > strong:after,
.pensionmain #header.on .wrapInner > strong:after{content:"";position:absolute;right:0;top:14px;width:1px;height:18px;background-color:#5e8ec6;}
.main #header.on .wrapInner > strong + .navMenu > ul > li > a,
.pensionmain #header.on .wrapInner > strong + .navMenu > ul > li > a{padding:0 15px;}

.mobScreen #header,
.mobScreen #hpe_head,
.mobScreen #path,
.mobScreen .mTopLayerWrap,
.mobScreen #searchWrap,
.mobScreen #allMenuWrap{position:absolute !important;}

/* HEADER_GLOBAL */
#global{height:39px;padding-top:20px;background-color:#fff;}
#global .util .introduce{margin-top:-1px;}
#global .cate li a,
#global .util .introduce a{display:inline-block;height:22px;border:1px solid #fff;border-radius:2px;}
#global .cate li a{font-size:15px;line-height:23px;color:#333;}
#global .util .introduce a{margin-right:5px;padding:0 4px;font-size:14px;line-height:24px;color:#777;}
#global .cate li a.on,
#global .util .introduce a.on{border-color:#b2b2b2;font-weight:bold;color:#195dae;}
#global .cate{float:left;margin:-1px 0 0 142px;}
#global .cate ul{overflow:hidden}
#global .cate li{float:left;margin-right:2px;}
#global .cate li a{padding:0 10px;}
#global .util{float:right;}
#global .util:after{content:"";display:block;clear:both;}
#global .util > div{float:left;}
#global .util .various{margin:4px 0 0 43px;}
#global .util .various a{color:#919191;} /* #9f9f9f */
#global .util .various > div{display:inline-block;position:relative;margin-left:14px;}
#global .util .various > div > a{position:relative;padding-right:14px;font-size:13px;}
#global .util .various > div > a:before{content:"";position:absolute;right:0;top:5px;width:7px;height:4px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -129px -21px;}
#global .util .various > div > a.on{color:#3579d4;}
#global .util .various > div > a.on:before{background-position:-129px -30px;}
#global .util .various .boxInner{display:none;position:absolute;right:-1px;top:26px;z-index:6;}
#global .util .various .boxInner a:hover{color:#3579d4;}
#global .util .various .members .boxInner{width:130px;padding-bottom:15px;background:url(https://image.shinhan.com/rib2017/images/layout/bg_members_shadow.png) no-repeat left bottom;}
#global .util .various .members ul{padding:19px 20px;border-top:2px solid #398aee;border-bottom:2px solid #aaa;background-color:#fff;}
#global .util .various .members li{border-top:1px solid #dcdcdc;margin-top:7px;padding-top:9px;}
#global .util .various .members li:first-child{border-top:none;margin:0;padding:0;}
#global .util .various .members li a{display:block;font-size:13px;color:#343434;}
#global .util .various .global .boxInner{width:241px;padding-bottom:19px;background:url(https://image.shinhan.com/rib2017/images/layout/bg_global_shadow.png) no-repeat left bottom;}
#global .util .various .global .listBox{padding:21px 0 19px;border-top:2px solid #398aee;border-bottom:2px solid #aaa;background-color:#fff;}
#global .util .various .global .listBox a:hover{color:#3579d4;}
#global .util .various .global h3,
#global .util .various .global .list{padding:0 20px;}
#global .util .various .global h3,
#global .util .various .global h3 a{position:relative;font-size:13px;font-weight:bold;color:#343434;}
#global .util .various .global h3{margin-top:20px;}
#global .util .various .global h3:first-child{position:absolute;left:-5000em;top:-5000em;margin:0;font-size:1px;line-height:1px;}
#global .util .various .global h3 a{padding-right:21px;}
#global .util .various .global h3 a:before{content:"";position:absolute;right:0;top:1px;width:7px;height:12px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -229px -66px;}
#global .util .various .global .list + h3{padding-top:18px;border-top:1px solid #dcdcdc;}
#global .util .various .global .list{overflow:hidden;margin-top:-11px;}
#global .util .various .global h3 + .list{margin-top:4px;}
#global .util .various .global .list a{float:left;position:relative;width:50%;margin-top:11px;padding-left:26px;font-size:13px;color:#343434;box-sizing:border-box;}
#global .util .various .global .list a:before{content:"";position:absolute;left:0;top:-1px;width:20px;height:15px;background-image:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png);background-repeat:no-repeat;}
#global .util .various .global .list .link01:before{background-position:-275px -45px;}
#global .util .various .global .list .link02:before{background-position:-295px -45px;}
#global .util .various .global .list .link03:before{background-position:-315px -45px;}
#global .util .various .global .list .link04:before{background-position:-335px -45px;}
#global .util .various .global .list .link05:before{background-position:-275px -60px;}
#global .util .various .global .list .link06:before{background-position:-295px -60px;}
#global .util .various .global .list .link07:before{background-position:-315px -60px;}
#global .util .various .global .list .link08:before{background-position:-335px -60px;}
#global .util .various .global .list .link09:before{background-position:-355px -60px;}
#global .util .various .global .list .link10:before{background-position:-375px -60px;}
#global .util .various .search{/*display:none;*/margin-left:9px;}
#global .util .various .search a{width:16px;height:16px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -197px -95px;}
#global .util .various .search a.on{background-position:-217px -95px;}

/* HEADER BLUE */
#header.blue #global{background-color:#2d71c4;}
#header.blue #global .cate li a,
#header.blue #global .util .introduce a{border-color:#2d71c4;}
#header.blue #global .cate li a{color:#b4cff1;}/* #96b8e2 */
#header.blue #global .util .introduce a{color:#fff;}
#header.blue #global .cate li a.on,
#header.blue #global .util .introduce a.on{border:1px solid #1f4f89;background-color:#2967b2;color:#fff;}
#header.blue #global .util .various > div > a{color:#b4cff1;}/* #96b8e2 */
#header.blue #global .util .various > div > a.on{color:#fff;}
#header.blue h1 a{background-position:-10px -10px;}
#header.blue #global .util .various .search a{background-position:-293px -98px;}
#header.blue #global .util .various > div > a:before{background-position:-247px -71px}
#header.blue #global .util .various > div > a.on:before{background-position:-247px -80px}

/* 통합검색 & 전체메뉴 */
#searchWrap,
#allMenuWrap{display:none;position:fixed;left:0;top:59px;width:100%;border-top:1px solid #dcdcdc;background-color:#fff;box-sizing:border-box;}
#searchWrap{z-index:6;}
#searchWrap:after{content:"";position:fixed;left:0;top:60px;z-index:1;width:100%;height:100%;background:url(https://image.shinhan.com/rib2017/images/bg/bg_dimmed.png) repeat 0 0;}
#allMenuWrap{z-index:5;padding-bottom:20px;}
#searchWrap .btnTopClose,
#allMenuWrap .btnTopClose{overflow:hidden;position:absolute;left:50%;top:-8px;width:51px;height:48px;margin-left:439px;box-shadow:0 4px 8px #ccc;background-color:#d88e32;text-indent:-5000em;}
.btnTopClose em{position:absolute;left:50%;top:50%;width:25px;height:25px;margin:-11px 0 0 -13px;}
.btnTopClose em span{position:absolute;left:0;top:0;width:100%;height:100%;background-image:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png);background-repeat:no-repeat;}
.btnTopClose em span.first{background-position:-315px -95px;}
.btnTopClose em span.center{display:none;background-position:-379px -95px;}
.btnTopClose em span.last{background-position:-346px -95px;}

/* 통합검색 */
.searchSec{position:relative;z-index:2;min-height:197px;padding-bottom:43px;background-color:#fff;}
.searchSec .searchTab{position:relative;text-align:center}
.searchSec .searchTab h3{display:inline-block;padding:39px 0}
.searchSec .searchTab h3 a{display:inline-block;font-size:28px;font-weight:normal;color:#999;line-height:28px;text-align:center;padding:0 30px;border-left:1px solid #dcdcdc}
.searchSec .searchTab h3:first-child a{border-left:none}
.searchSec .searchTab h3 a.on{color:#2d71c4}
.searchBox{width:587px;margin:0 auto;}
.searchBox.on{display:block;}
.searchBox h3{padding:27px 0 23px;font-size:28px;font-weight:normal;color:#343434;text-align:center;}
.searchBox .searchCon{overflow:hidden;border:2px solid #2d71c4;}
.searchBox .searchCon input[type="text"]{float:left;width:535px;height:46px;border:none;font-size:16px;line-height:46px;text-indent:12px;}
.searchBox .searchCon a{overflow:hidden;float:right;position:relative;width:48px;height:46px;margin:0;border:none;background-color:#2d71c4;text-indent:-5000em;}
.searchBox .searchCon a:before{content:"";position:absolute;left:50%;top:50%;z-index:2;width:19px;height:19px;margin:-9px 0 0 -9px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -237px -95px;}
.searchBox dl{overflow:hidden;padding-top:18px;}
.searchBox dt{float:left;margin-right:15px;font-size:15px;font-weight:bold;color:#555;}
.searchBox dd{overflow:hidden;text-align:left;}
.searchBox dd .inner{display:inline-block;overflow:hidden;max-width:100%;text-overflow:ellipsis;white-space:nowrap;}
.searchBox dd a{position:relative;margin-left:26px;font-size:15px;}
.searchBox dd a:first-child{margin-left:0;}
.searchBox dd a:before{content:"";position:absolute;left:-13px;top:1px;width:1px;height:13px;background-color:#dcdcdc;}
.searchBox dd a:first-child:before{display:none;}
.searchBox > .w2radio{margin-bottom:15px}
.searchBox > .w2radio > .w2radio_item > input[type="radio"]{width:24px !important;height:24px !important;}
.searchBox > .w2radio > .w2radio_item > input[type="radio"] + label{padding-left:32px;line-height:22px;font-size:16px;color:#313131}
@media \0screen{.searchBox > .w2radio > .w2radio_item > input[type="radio"] + label{padding-left:8px;}} /* IE8 */
.searchBox > .w2radio > .w2radio_item > input[type="radio"] + label:before{width:22px;height:22px;background:url(https://image.shinhan.com/rib2017/images/hpe/ico/search_ico.png) no-repeat -10px -10px}
.searchBox > .w2radio > .w2radio_item > input[type="radio"]:checked + label:before{background:url(https://image.shinhan.com/rib2017/images/hpe/ico/search_ico.png) no-repeat -42px -10px}
@media \0screen{.searchBox > .w2radio > .w2radio_item > label:before{display:none;}} /* IE8 */

/* 검색결과 */
.searchResultBox{position:relative;width:980px;margin:13px auto 30px;border:2px solid #3579d4;box-sizing:border-box;}
.searchResultBox .data{padding:18px;}
.searchResultBox .data .total{margin-bottom:15px;padding-bottom:8px;border-bottom:1px solid #dcdcdc;}
.searchResultBox .data .total em{font-weight:bold;color:#3579d4;}
.searchResultBox .data ul{overflow:auto;height:136px;}
.searchResultBox .data li{position:relative;margin-top:10px;padding-left:13px;}
.searchResultBox .data li:before{content:"";position:absolute;left:0;top:6px;width:3px;height:3px;background-color:#555;}
.searchResultBox .data li:first-child{margin-top:2px;}
.searchResultBox .data li a{display:inline-block;font-size:15px;color:#343434;}
.searchResultBox .data li a span{position:relative;margin-left:10px;padding-left:15px;}
.searchResultBox .data li a span:first-child{margin-left:0;padding-left:0;}
.searchResultBox .data li a span:before{content:"";position:absolute;left:0;top:3px;width:6px;height:11px;background:url(https://image.shinhan.com/rib2017/images/ico/sp_ico.png) no-repeat -332px -34px;}
.searchResultBox .data li a span:first-child:before{display:none;}
.searchResultBox .data li a em{color:#3579d4;}
.searchResultBox .noData{padding-top:67px;text-align:center;}
.searchResultBox .noData .ico{width:50px;height:50px;margin:0 auto;background:url(https://image.shinhan.com/rib2017/images/ico/sp_ico.png) no-repeat -10px -143px;}
.searchResultBox .noData p{margin-top:18px;}
.searchResultBox .btnClose{overflow:hidden;position:absolute;right:20px;top:20px;width:12px;height:12px;background:url(https://image.shinhan.com/rib2017/images/btn/sp_btn.png) no-repeat -23px -61px;text-indent:-5000em;}

/* 전체메뉴 */
.allMenuBox{position:relative;width:980px;margin:3px auto;padding-top:40px;border-bottom:1px solid #dcdcdc;}
.allMenuBox a[class*="btnTy"]{position:absolute;right:0;top:0;}
.allMenuBox .tabTy01{height:48px;margin:0;border-bottom:2px solid #3579d4;}
.allMenuBox .tabTy01 li.on{border-width:2px 2px 0 !important;}
.allMenuBox .tabTy01 li.on:after{display:none;}
.allMenuBox .tabTy01 li a{height:47px;font-size:16px;}
.allMenuBox .tabTy01 li.on a{height:48px;background-color:#fff;font-size:16px;color:#3579d4;}
.allMenuBox .menuList{overflow:auto;width:100%;height:300px;}
.allMenuBox .menuList a{display:block;}
.allMenuBox .menuList .allMenu{overflow:hidden;}
.allMenuBox .menuList .allMenu .inner{display:table;overflow:hidden;width:100%;}
.allMenuBox .menuList .allMenu .box{display:inline-table;width:218px;margin-left:20px;padding-bottom:20px;vertical-align:top;}
.allMenuBox .menuList .allMenu .box > ul > li{padding-top:45px;}
.allMenuBox .menuList .allMenu .box > ul > li:first-child{padding-top:27px;}
.allMenuBox .menuList .allMenu .box > ul > li > span,
.allMenuBox .menuList .allMenu .box > ul > li > span a{font-size:18px;color:#3579d4;}
.allMenuBox .menuList .allMenu .box > ul > li > span{display:block;margin-bottom:20px;padding-bottom:6px;border-bottom:1px solid #dcdcdc;}
.allMenuBox .menuList .allMenu .etc{display:table;overflow:hidden;width:100%;}
.allMenuBox .menuList .allMenu .etc > li{display:inline-table;width:218px;margin-left:20px;padding-bottom:20px;vertical-align:top;}
.allMenuBox .menuList .allMenu .etc > li > span,
.allMenuBox .menuList .allMenu .etc > li > span a{font-size:18px;color:#3579d4;}
.allMenuBox .menuList .allMenu .etc > li > span{display:block;margin-bottom:20px;padding-bottom:6px;border-bottom:1px solid #dcdcdc;}
.allMenuBox .menuList .menu2Dep > ul > li{margin-top:15px;}
.allMenuBox .menuList .menu2Dep > ul > li > span,
.allMenuBox .menuList .menu2Dep > ul > li > a{color:#343434;}
.allMenuBox .menuList .menu3Dep > ul > li{margin-top:10px;}
.allMenuBox .menuList .menu3Dep > ul > li:first-child{margin-top:11px;}
.allMenuBox .menuList .menu3Dep > ul > li > span,
.allMenuBox .menuList .menu3Dep > ul > li > a{position:relative;padding-left:10px;}
.allMenuBox .menuList .menu3Dep > ul > li > span:before,
.allMenuBox .menuList .menu3Dep > ul > li > a:before{content:"-";position:absolute;left:0;top:0;}
.allMenuBox .menuList .menu3Dep > ul > li > a.depth:after{content:"";position:absolute;right:0;top:4px;width:10px;height:10px;width:8px;height:8px;margin-right:6px;background:url(https://image.shinhan.com/rib2017/images/btn/sp_btn.png) no-repeat -169px -120px;}
.allMenuBox .menuList .menu3Dep > ul > li > a.depth.on:after{background-position:-156px -120px;}
.allMenuBox .menuList .menu4Dep{display:none;}
.allMenuBox .menuList .menu3Dep > ul > li > a.on + .menu4Dep{display:block;}
.allMenuBox .menuList .menu4Dep > ul > li{margin:10px 0 0 10px;}
.allMenuBox .menuList .menu4Dep > ul > li:first-child{margin-top:11px;}
.allMenuBox .menuList .menu4Dep > ul > li > a{position:relative;padding-left:10px;}
.allMenuBox .menuList .menu4Dep > ul > li > a:before{content:"";position:absolute;left:0;top:6px;width:2px;height:2px;background-color:#555;}

/* GNB */
#gnb .navMenu a{display:block;}
#gnb .navMenu > ul{overflow:hidden;}
#gnb .navMenu > ul > li{float:left;padding-top:2px;}
#gnb .navMenu > ul > li > a{height:48px;padding:0 20px;font-size:16px;font-weight:bold;line-height:46px;color:#fff;max-height:100%;}
#gnb .navMenu > ul > li.on > a{color:#ffe1ac;}
#gnb .navMenu > ul > li.on > a span{display:block;height:45px;border-bottom:3px solid #ffe1ac;}
#gnb .navMenu > ul > li > a.hover,
#gnb .navMenu > ul > li.on > a.hover span{height:48px;border-bottom:none;background-color:#fff;color:#2660a6;}
#gnb .nav2Dep{display:none;overflow:hidden;position:absolute;left:0;top:50px;z-index:3;width:100%;padding:29px 0 25px;background-color:#fff;box-sizing:border-box;}
#gnb .nav2Dep > ul{display:table;width:109%;margin-top:-24px;}
#gnb .nav2Dep > ul > li{display:inline-table;width:20%;margin-top:24px;padding-right:42px;vertical-align:top;}
#gnb .nav2Dep > ul > li > a{padding:0 0 3px 10px;border-bottom:1px solid #3579d4;font-size:15px;font-weight:bold;color:#343434;}
#gnb .nav2Dep > ul > li.banner0101{position:relative;height:270px;margin-top:45px;padding-right:0;}
#gnb .nav2Dep > ul > li.banner0101:before{content:"";position:absolute;left:0;top:0;width:1px;height:100%;background-color:#dcdcdc;}
#gnb .nav2Dep > ul > li.banner0101 > a{overflow:hidden;width:460px;height:201px;padding:0;border:none;background:url(https://image.shinhan.com/rib2017/images/layout/img_mega_banner.png) no-repeat 0 0;text-indent:-5000em;}
#gnb .nav3Dep{overflow:hidden;margin-top:8px;}
#gnb .nav3Dep li a{padding:5px 0 4px 11px;color:#555;}
#gnb .nav3Dep li a:hover{background-color:#fff !important;}
#gnb .nav3Dep li a:hover span{border-bottom:2px solid #d48100;color:#d48100;} /*d99103 */
#gnb .nav3Dep li a:active{text-decoration:none !important;}
#gnb .nav3Dep li a.on{background-color:#d48100 !important;} /* #e3a445 접근성 */
#gnb .nav3Dep li a.on span{border:none !important;color:#fff !important;}
#gnb .btnAllMenu{position:absolute;left:50%;top:-7px;z-index:3;width:57px;height:59px;margin-left:432px;padding-left:7px;background:url(https://image.shinhan.com/rib2017/images/layout/bg_total_shadow.png) no-repeat 0 bottom;text-align:center;}
#gnb .btnAllMenu a{display:block;position:relative;width:51px;height:47px;background-color:#d48100;transition:.7s background-color ease;}/*d99103 */
#gnb .btnAllMenu em{position:absolute;left:50%;top:50%;overflow:hidden;width:25px;height:25px;margin:-11px 0 0 -13px;line-height:9px;text-align:center;}
#gnb .btnAllMenu em span{display:inline-block;position:relative;width:100%;height:3px;background-color:#fff;vertical-align:top;}

#header.on #gnb .btnAllMenu{height:45px;background:none;}
#header.on #gnb .btnAllMenu a{background-color:#084185;}
.main #header.on #gnb .btnAllMenu a{height:50px;}
#gnb > .bg{display:none;position:absolute;left:0;top:109px;z-index:2;width:100%;height:300px;border-bottom:2px solid #2d71c4;background-color:#fff;}
#gnb > .bg:after{content:"";position:absolute;left:0;bottom:-18px;width:100%;height:16px;background:url(https://image.shinhan.com/rib2017/images/layout/bg_gnb_shadow.png) repeat 0 0;}

/* USER */
#userWrap,
#userWrap a{font-size:14px;}
#userWrap{position:absolute;right:50%;bottom:-45px;height:45px;margin-right:-490px;padding-right:65px;text-align:right;}
#userWrap > div{float:left;position:relative;margin:14px 0 0 15px;padding-left:16px;white-space:nowrap;vertical-align:top;}
#userWrap > div:before{content:"";position:absolute;left:0;top:1px;width:1px;height:15px;background-color:#5e8ec6;}
#userWrap > div:first-child{margin-left:0;padding-left:0;}
#userWrap > div:first-child:before{display:none;}
#userWrap strong,
#userWrap span,
#userWrap a{color:#fff;vertical-align:middle;}
#userWrap strong{display:inline-block;overflow:hidden;max-width:150px;margin-right:3px;font-size:15px;font-weight:normal;color:#ffcc89;text-overflow:ellipsis;white-space:nowrap;}
#userWrap .time span{display:inline-block;width:37px;}
#userWrap .time a{margin-left:9px;text-decoration:underline;}
#userWrap .login a{position:relative;padding-left:27px;}
#userWrap .login a:before{content:"";position:absolute;left:0;top:0;width:19px;height:17px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -144px -10px;}
#userWrap .login a.on:before{background-position:-144px -32px;}

/* LOCATION */
/* #path,
#path a{letter-spacing:0;} */
#path{position:fixed;left:0;top:109px;z-index:70;width:100%;height:45px;background-color:#195dae;}
#path .wrapInner:after{content:"";display:block;clear:both;}
#path .location{float:left;padding-left:20px;}
#path .location:after{content:"";display:block;clear:both;}
#path .location .depth{float:left;position:relative;height:45px;margin-left:14px;line-height:45px;}
#path .location .depth:first-child{margin-left:0;}
#path .location .depth:first-child > span{display:none;}
#path .location .depth > em{display:inline-block;overflow:hidden;margin-left:14px;max-width:126px;color:#c3ccd5;text-overflow:ellipsis;white-space:nowrap;}
#path .location .depth:first-child > em{margin-left:0;}
#path .location a,
#path .location .depth em{display:inline-block;font-size:15px;vertical-align:top;}
#path .location .depth span{float:left;overflow:hidden;width:6px;height:11px;margin-top:17px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -259px -10px;text-indent:-5000em;}
#path .location .selectList{display:inline-block;position:relative;}
#path .location .selectList > a{display:inline-block;position:relative;height:45px;padding:0 34px 0 30px;line-height:45px;color:#fff;}
#path .location .selectList > a:before{content:"";position:absolute;left:12px;top:17px;width:11px;height:10px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -259px -26px;}
#path .location .selectList > a:after{content:"";position:absolute;right:14px;top:20px;width:10px;height:6px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -259px -41px;}
#path .location .selectList > a.on:after{background-position:-259px -51px;}
#path .location .selectList .list{display:none;position:absolute;left:0;top:45px;z-index:2;min-width:100%;background-color:#5b636c;}
#path .location .selectList .list li a{display:block;height:34px;padding:0 30px;font-size:14px;line-height:34px;color:#fff;white-space:nowrap;}
#path .location .selectList .list li a:hover{background-color:#424952;}
#path .location .selectList .list li.on a{color:#ffcc89;}
#path .location .selectList.single > a{padding-right:12px;}
#path .location .selectList.single > a:after{display:none;}
#path .fishing{position:relative;line-height:45px;}
#path .fishing div[class*="Txt"] a{position:relative;}
#path .fishing div[class*="Txt"] a:before{content:"";position:absolute;left:0;bottom:0;width:100%;height:1px;}
#path .fishing .modTxt a{margin-left:10px;}
#path .fishing .modTxt a:before{background-color:#666;}
#path .fishing .regTxt{width:auto !important;height:auto !important;filter:alpha(opacity=60) !important;opacity:0.6 !important;}
#path .fishing .regTxt a{color:#86a7df;}
#path .fishing .regTxt a:before{background-color:#86a7df;}
#path .fishing span[class*="icon"].emotiCon{padding-left:28px;}
#path .fishing span[class*="icon"].emotiCon:before{left:0;top:50%;margin-top:-12px;}

/* CONTAINER */
#screenWrap{position:absolute;left:50%;top:192px;width:200px;margin-left:289px;text-align:right;}
#screenWrap a{display:inline-block;overflow:hidden;margin-left:15px;text-align:center;}
#screenWrap a:first-child{margin-left:0;}
#screenWrap a span{background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat;}
#screenWrap a.func01 span{width:19px;height:19px;background-position:-187px -10px;}
#screenWrap a.func02 span{width:20px;height:18px;background-position:-211px -10px}
#screenWrap a.func02.on span{background-position:-518px -10px}
#screenWrap a.func03 span{width:18px;height:18px;background-position:-236px -10px}

/* CONTENTS */
#contents{min-height:750px;padding-top:154px;}
#contents .pageTop{padding:35px 0 20px;}
#contents .pageTop .wrapInner{padding-bottom:11px;border-bottom:1px solid #dcdcdc;}
#contents .pageTop .titH01{display:inline-block;}

/* QUICK */
.emotiCon:before{content:'';position:absolute;}
span[class*="icon"].emotiCon:before{width:24px;height:25px;background-image:url(https://image.shinhan.com/rib2017/images/ico/sp_em_ico.png);background-repeat:no-repeat;}
.emotiCon.icon00:before{background-position:-312px -12px;}
.emotiCon.icon01:before{background-position:-12px -12px;}
.emotiCon.icon02:before{background-position:-42px -12px;}
.emotiCon.icon03:before{background-position:-72px -12px;}
.emotiCon.icon04:before{background-position:-102px -12px;}
.emotiCon.icon05:before{background-position:-282px -12px;}
.emotiCon.icon06:before{background-position:-132px -12px;}
.emotiCon.icon07:before{background-position:-162px -12px;}
.emotiCon.icon08:before{background-position:-192px -12px;}
.emotiCon.icon09:before{background-position:-222px -12px;}
.emotiCon.icon10:before{background-position:-252px -12px;}
.emotiCon.icon11:before{background-position:-12px -41px;}
.emotiCon.icon12:before{background-position:-42px -41px;}
.emotiCon.icon13:before{background-position:-72px -41px;}
.emotiCon.icon14:before{background-position:-102px -41px;}
.emotiCon.icon15:before{background-position:-130px -41px;}
.emotiCon.icon16:before{background-position:-162px -41px;}
.emotiCon.icon17:before{background-position:-192px -41px;}
.emotiCon.icon18:before{background-position:-222px -41px;}
.emotiCon.icon19:before{background-position:-252px -40px;}
.emotiCon.icon20:before{background-position:-282px -41px;}

#quick{position:absolute;right:0;top:0;z-index:1005;height:100%;}
#quick .bg{position:fixed;right:0;top:0;width:80px;height:100%;background-color:#000;filter:alpha(opacity=60);opacity:0.6}
#quick .quickCon{position:fixed;right:0;z-index:2;width:80px;padding-top:59px;}
#quick .quickCon .fishing{height:46px;position:relative;padding-top:49px;background-color:#433f3c;}
#quick .quickCon .fishing span{display:block;padding:0 5px;font-size:12px;color:#fff;text-align:center;/* word-break:keep-all;*/}
#quick .quickCon .fishing .emotiCon:before{left:31px;top:20px;}
#quick .quickCon .fishing .emotiCon.icon00:before{left:30px;top:16px;width:25px;height:25px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -195px -59px;}
#quick .quickCon .linkGrp{background-color:#4f4d4c;}
#quick .quickCon .linkGrp > ul > li > a{height:79px;}
#quick .quickCon .linkCate{background-color:#5e5b59;}
#quick .quickCon .linkCate > ul > li > a{height:93px;}
#quick .quickCon .linkCate > ul > li > a span{display:block;height:25px;text-align:center;}
#quick .quickCon > div > ul{display:table;width:100%;}
#quick .quickCon > div > ul > li{display:inline-table;position:relative;width:100%;vertical-align:middle;}
#quick .quickCon > div > ul > li > a{display:table-cell;border-bottom:1px solid #414141;font-size:12px;color:#d4d4d4;text-align:center;}
#quick .quickCon > div > ul > li.on > a{color:#c28f4e;}
#quick .quickCon > div > ul > li a > span[class*="ico"]{display:inline-block;background-image:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png);background-repeat:no-repeat;}
#quick .quickCon > div > ul > li .icoD01{width:25px;height:25px;background-position:-10px -69px;}
#quick .quickCon > div > ul > li .icoD02{width:25px;height:23px;background-position:-40px -69px;}
#quick .quickCon > div > ul > li .icoD03{width:25px;height:25px;background-position:-70px -69px;}
#quick .quickCon > div > ul > li .icoD04{width:24px;height:25px;background-position:-100px -69px;}
#quick .quickCon > div > ul > li .icoD05{width:25px;height:23px;background-position:-129px -69px;}
#quick .quickCon > div > ul > li .icoD06{width:24px;height:22px;background-position:-159px -69px;}
#quick .quickCon > div > ul > li a > span.icoD07{width:25px;height:25px;background:url(https://image.shinhan.com/rib2017/images/layout/ico_quick_cmpr.png) no-repeat 0 0;}
#quick .quickCon > div > ul > li.on .icoD01{background-position:-10px -100px;}
#quick .quickCon > div > ul > li.on .icoD02{background-position:-40px -100px;}
#quick .quickCon > div > ul > li.on .icoD03{background-position:-70px -100px;}
#quick .quickCon > div > ul > li.on .icoD04{background-position:-100px -100px;}
#quick .quickCon > div > ul > li.on .icoD05{background-position:-129px -100px;}
#quick .quickCon > div > ul > li.on .icoD06{background-position:-159px -100px;}
#quick .quickCon > div > ul > li.on .icoD07{background-position:0 -31px;}
#quick .quickCon > div > ul > li a > em{display:inline-block;width:100%;margin-top:8px;padding:0 5px;box-sizing:border-box;}
#quick .quickCon > div > ul > li .icoD07 + em{margin-top:2px;}
#quick .btnOpen{display:none;overflow:hidden;position:fixed;top:50%;right:-80px;z-index:100;width:22px;height:56px;margin-top:-28px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -460px -10px;text-indent:-5000em;}
#quick .btnOpen.on{background-position:-487px -10px;}

#quick .quickCon li .layerBox{display:none;position:absolute;right:80px;top:0;width:351px;/* height:480px; */padding:18px 0 19px 28px;background-color:#41413f;box-sizing:border-box;}
#quick .quickCon li.on .layerBox{display:block;}
#quick .quickCon li .layerBox .layerClose{overflow:hidden;position:absolute;right:31px;top:20px;width:16px;height:16px;background:url(https://image.shinhan.com/rib2017/images/btn/sp_btn.png) no-repeat -141px -65px;text-indent:-5000em;}
#quick .quickCon li .layerBox dt{height:30px;font-size:15px;font-weight:bold;color:#fff;}
#quick .quickCon li .layerBox dd{display:inline-block;width:100%;margin-top:-11px;}
#quick .quickCon li .layerBox dd a{color:#fff;text-align:center;}
#quick .quickCon li .layerBox dd .list{overflow:hidden;}
#quick .quickCon li .layerBox dd .list .con > span{float:left;width:140px;height:38px;margin:11px 11px 0 0;background-color:#4e4e4e;}
#quick .quickCon li .layerBox dd .list .con > span a{display:table;overflow:hidden;width:99%;height:33px;padding-top:3px;border:1px solid #c28f4e;background-color:#555;line-height:14px;}
#quick .quickCon li .layerBox dd .list .con > span a span{display:table-cell;vertical-align:middle;}
#quick .quickCon li .layerBox dd .list > a{float:left;width:140px;height:38px;margin-top:11px;background-color:#474747;line-height:38px;}
#quick .quickCon li .layerBox dd .list > a .icn{display:inline-block;width:17px;height:17px;margin:-3px 10px 0 0;background:url(https://image.shinhan.com/rib2017/images/ico/sp_ico.png) no-repeat -183px -37px;vertical-align:middle;}
#quick .quickCon li .layerBox dd > p{margin-top:15px;font-size:13px;color:#aaa;}
#quick .quickCon li.schService .layerBox{width:281px;padding:18px 28px 19px;}
#quick .quickCon li.schService .layerBox dd .list .con > span{display:block;float:none;width:100%;}

/* FOOTER */
#footer{height:141px;margin-top:100px;padding-top:34px;background-color:#6a6a6a; box-sizing:border-box;}
#footer .wrapInner{position:relative;}
#footer .btnPageTop{overflow:hidden;position:absolute;right:0;top:0;z-index:2;width:32px;height:32px;border-radius:2px;background-color:#4f4d4c;text-align:center;text-indent:-5000em;}
#footer .btnPageTop:before{content:"";position:absolute;left:50%;top:50%;width:12px;height:13px;margin:-6px 0 0 -6px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -169px -10px;}
#footer .link ul{overflow:hidden;}
#footer .link li{float:left;margin-right:13px;}
#footer .link li a{font-size:13px;color:#ccc;}
#footer .link li em a{color:#fff;}
#footer .customer{margin-top:15px;}
#footer .customer dl{overflow:hidden;position:relative;line-height:21px;color:#fff;}
#footer .customer dt{float:left;padding-top:1px;}
#footer .customer dd{float:left;}
#footer .customer dd em{margin-left:2px;font-size:16px;}
#footer .customer dd span{margin-left:10px;font-size:13px;color:#ccc;}
#footer .site{position:absolute;right:47px;top:0;}
#footer .site .select{float:left;position:relative;margin-left:5px;}
#footer .site .select > a{display:inline-block;position:relative;width:115px;height:32px;padding:0 25px 0 20px;border:1px solid #ccc;font-size:13px;line-height:30px;color:#ccc;box-sizing:border-box;}
#footer .site .select > a:before{content:"";position:absolute;right:7px;top:9px;width:19px;height:12px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -221px -34px;}
#footer .site .select.on > a{position:relative;z-index:15;border-top-color:#fff;background-color:#fff;font-weight:bold;color:#343434;}
#footer .site .select.on > a:before{background-position:-221px -51px;}
#footer .site .select.on:after{content:"";position:absolute;left:0;top:1px;z-index:100;width:99%;height:1px;background-color:#fff;}
#footer .site .select.global.on:after{left:1px;}
#footer .site .select .option{display:none;position:absolute;bottom:30px;width:235px;z-index:95;padding:17px 20px;border:1px solid #ccc;background-color:#fff;box-sizing:border-box;}
#footer .site .select.global .option{left:0;}
#footer .site .select.family .option{right:0;}
#footer .site .select .option a:hover{color:#3579d4;}
#footer .site .select .option > strong{display:block;margin-bottom:13px;padding-bottom:10px;border-bottom:1px solid #dcdcdc;}
#footer .site .select .option > strong a{display:block;position:relative;font-weight:bold;color:#343434;}
#footer .site .select .option > strong a:after{content:"";display:inline-block;width:7px;height:12px;margin-left:15px;background:url(https://image.shinhan.com/rib2017/images/layout/sp_layout.png) no-repeat -229px -66px;}
#footer .site .select .option ul{padding-right:10px;box-sizing:border-box;}
#footer .site .select .option ul + ul{margin-top:17px;padding-top:17px;border-top:1px solid #ccc;}
#footer .site .select .option li{display:block;margin-top:6px;}
#footer .site .select .option li:first-child{margin-top:0;}
#footer .site .select .option li a{display:block;font-size:13px;}
#footer .copyright{padding-top:4px;font-size:13px;color:#ccc;}

/* 새창 콘텐츠 */
#win_wrap{width:760px;}
#win_header{overflow:hidden;height:53px;padding:0 22px;background-color:#2d71c4;}
#win_header h1{float:left;margin-right:12px;padding-top:15px;}
#win_header h1 a{display:inline-block;overflow:hidden;height:23px;vertical-align:top;}
#win_header h1 a img{height:100%;}
#win_contents{padding:0 31px 30px;}
#win_contents .pageTop{padding:25px 0 20px;}
#win_contents .pageTop .inner{padding-bottom:15px;border-bottom:1px solid #dcdcdc;}
#win_contents .pageTop .inner .titH02{font-size:24px;font-weight:normal;}
